.two-main{

   background-color: #18122B;
   color: white;   
   margin: 20px; 
   border: 2px solid #A555EC;
   display: flex;
   flex-direction: column;
   width: 100%;
   /* height: 100%; */
   
}

.section-timeline{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
.section-heading{
    height: 10%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #D2E603;
    font-family: 'Kanit', sans-serif;
    font-size: 50pt;
    padding-left: 10px;
}
.section-content{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.section-content::-webkit-scrollbar {
    display: none;
  }