@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari&display=swap');

.container.first{
    width: 100%;
    /* background-color: #FAF4B7; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
  
    
}
.container.first .content{
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7D9D9C;
    
    font-weight: 600;
    /* -webkit-text-stroke: 1px #FFAC41;  */
}


.container.first .content .head{
    width: 100%;
    display: flex;
    color: #354259;
    position: relative;
    /* font-family: 'Staatliches', cursive; */
    font-family: 'Libre Baskerville', serif;
    font-size: 80pt; 
    justify-content: flex-start;
    

}



.container.first .content .writeup{
    width: 100%;
    position: relative;
    display: flex;
    font-family: 'Libre Baskerville', serif;
    font-size: 25pt; 
    justify-content: flex-start;;
}

.container.first .image{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* background-color: aliceblue; */
}

.container.first .image .day{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container.first .image .day img{
    width: 100%;
}



.container.first .content .stack{
    /* visibility: hidden; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    font-family: 'Gantari', sans-serif;
    color: #00FFAB;
    font-size: 17pt;
    /* padding-top: 100px; */
    height: 0px;
    overflow: hidden;
}

.container.first .content .stack .line{
    /* padding: 10px 10px 10px 5px; */
    padding: 20px 20px 20px 0px;
}

