@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');



.maincontainer-home{
    /* height: 100vh; */
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container{
    height: 100vh;
    width: 100%;
    padding: 40px;
    background-color: #F5F0BB;
    /* background: url(../assets/backg.jpg);
    background-size: contain; */
  
}



