@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');



.maincontainer-home{
    height: 100vh;
    
    
    

}

.container{
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: #C2DED1;
    /* background: url(../assets/backg.jpg);
    background-size: contain; */
  
}



