iframe{
    background-color: rgb(201, 201, 201);
    border: none;
    /* margin-top: 65px; */
    height: 100%;
}

.maincontainer{
    /* padding-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

.resume{
    /* padding-top: 65px; */
    width: 100%;
    height: 100%;
}